<!-- Extends calls from external file main.html to add consistent style & elements -->
    {% extends 'main.html' %}
   
    {% block content %}
    <button type="button"> 
    <a href="{% url 'gallery' %}">GALLERY</a> 
    </button>
    <br/>
    <br/>
    <button type="button"> 
    <a href="{% url 'landingpage' %}">HOME</a>
    </button>
    <br/>
    <br/>
<!-- Post images on addartifact and/or gallery page -->
    <div id="addArtifactFormWrappingDiv">
        <center>
    <form action="{% url 'addartifact' %}" method="POST" id="addArtifactForm">
        {% csrf_token %} {{ form }}
        <input type="submit" name="add" value="ADD ARTIFACT" id="addArtifactFormSubmitBtn"/>
    </form>
    </center>
    </div>
    {% endblock content %}

