{% extends 'main.html' %} {% load static %} {% block content %}

<!-- IMG ELEMENT BELOW WITH URL AND ID RE-USES PRESENCE AND DISPLAY OF IMAGE FROM ADD ARTIFACT PAGE -->
<img src="{{ artifact.image.url }}" alt="connect" id="editPageImageRender" />
<form method="POST">
  <!-- Security token by Django -->
  {% csrf_token %}
  <!-- message to confirm deletion -->
  <div id="deletePageTextBtnsDiv">
    <p id="confirmDeleteText">WARNING: YOU ARE ABOUT TO DELETE YOUR CONTENT!</p>
    <!-- delete button to remove the image from the database -->
    <button type="submit" id="deletePageDeleteBtn">delete</button>
    <!-- onclick/redirect button to cancel the delete image post -->
    <button id="deletePageCancelButton">
      <a href="/editartifact/{{artifact.artifact_id}}" id="deletePageCancelBtn"
        >cancel</a
      >
    </button>
  </div>
</form>

{% endblock content %}
