{% extends 'main.html' %}

{% block content %}
<br/>
<br/>
<button type="button" class="editPgHomeBtn galleryPageHomeBtn"> 
    <a href="{% url 'landingpage' %}" class="galleryPageHomeBtn">HOME</a>
</button>
<br/>
<br/>
<button type="button" title="Our Story Button"> 
    <a href="{% url 'ourstory' %}">OUR STORY</a>
</button>
<br/>
<br/>
<button type="button"> 
    <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
</button>
<br/>
<br/>
<button type="button" class="editPgGalleryBtn"> 
    <a href="{% url 'gallery' %}">GALLERY</a>
</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div id="addArtifactFormWrappingDiv">
    
    <center>
        <img src="{{ artifact.image.url}}" alt="connect" style="max-height:1500px">
        <form method="post" enctype="multipart/form-data" id="editArtifactFormDiv">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="editArtifactUploadBtn">Update</button>
          </form>
    </center>
</div>
<br/>

<div class="editPgFilterBtnsDiv">
    </center>
        <button type="submit" class= "btn btn-primary"  data-filter="NO_FILTER">no filter</button>
        <button type="submit" class= "btn btn-primary"  data-filter="COLORIZED">colorized</button>
        <button type="submit" class= "btn btn-primary"  data-filter="GRAYSCALE">grayscale</button>
        <button type="submit" class= "btn btn-primary"  data-filter="BINARY">binary</button>
        <button type="submit" class= "btn btn-primary"  data-filter="INVERT">invert</button>
        <button type="submit" class= "btn btn-primary"  data-filter="DELETE">delete</button>
    </center>
</div>
{% endblock content %}

