{% extends 'main.html' %} {% load static %} {% block content %}

<button type="button" title="Our Story Button">
  <a href="{% url 'ourstory' %}">OUR STORY</a>
</button>
<br />
<br />
<button type="button">
  <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
</button>
<br />
<br />
<button type="button" class="editPgGalleryBtn">
  <a href="{% url 'gallery' %}">GALLERY</a>
</button>
<br />
<br />
<br />
<br />
<br />
<div id="addArtifactFormWrappingDiv">
  <center>
    <img
      src="{{ artifact.image.url }}"
      alt="connect"
      id="editPageImageRender"
    />
    <form method="post" enctype="multipart/form-data" id="editArtifactFormDiv">
      {% csrf_token %} {{ form }}
      <button type="submit" id="editArtifactUploadBtn">save</button>
      <button type="submit" id="editArtifactDeleteBtn">
        <form method="POST">
          <!-- Security token by Django -->
          {% csrf_token %}
          <!-- Delete button to start the delete process -->
          <a href="/deleteartifact/{{artifact.artifact_id}}">delete</a>
        </form>
      </button>
      <p id="addArtifactDisclaimerInfo">
        disclaimer/disclosure notice to users 1a) you have a chance to not add
        to the inheritance community by clicking
        <em>DELETE INSTEAD OF SAVE BEFORE ADDING YOUR ARTIFACT</em> and
        following the prompts to complete your deletion, 1b) before confirming
        your deletion you can click cancel to return to content you entered and
        complete your submission, 2) please take care to
        <em>edit your content before your once, only, and final submission</em>
        - you will not be able to edit your content after it is submitted, 3a)
        you are hereby informed that once your artifact is added to the
        inheritance community it cannot be deleted by you, 3b)
        <em
          >unacceptable, inappropriate, and misaligned artifacts will be
          removed</em
        >
        from the inheritance community without notice to those who submitted the
        content
      </p>
    </form>
  </center>
  <!-- The image filters below create sliders to manipulate the image before saving to the image gallery -->
  <div class="editPgFilterBtnsDiv">
    <div class="filtersDiv">
      <label class="filterLabels">Blur</label>
      <input
        type="range"
        min="0"
        max="20"
        value="0"
        step="1"
        onchange="applyFilter()"
        data-filter="blur"
        data-scale="px"
        class="filterSliders"
        data-default="0"
      /><br />
      <label class="filterLabels">Brightness</label>
      <input
        type="range"
        min="0"
        max="200"
        value="100"
        step="1"
        onchange="applyFilter()"
        data-filter="brightness"
        data-scale="%"
        class="filterSliders"
        data-default="100"
      /><br />
      <label class="filterLabels">Contrast</label>
      <input
        type="range"
        min="0"
        max="200"
        value="100"
        step="1"
        onchange="applyFilter()"
        data-filter="contrast"
        data-scale="%"
        class="filterSliders"
        data-default="100"
      /><br />
      <label class="filterLabels">Grayscale</label>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        step="1"
        onchange="applyFilter()"
        data-filter="grayscale"
        data-scale="%"
        class="filterSliders"
        data-default="0"
      /><br />
      <label class="filterLabels">Invert</label>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        step="1"
        onchange="applyFilter()"
        data-filter="invert"
        data-scale="%"
        class="filterSliders"
        data-default="0"
      /><br />
      <label class="filterLabels">Saturate</label>
      <input
        type="range"
        min="0"
        max="200"
        value="100"
        step="1"
        onchange="applyFilter()"
        data-filter="saturate"
        data-scale="%"
        class="filterSliders"
        data-default="100"
      /><br />
      <label class="filterLabels">Sepia</label>
      <input
        type="range"
        min="0"
        max="100"
        value="0"
        step="1"
        onchange="applyFilter()"
        data-filter="sepia"
        data-scale="%"
        class="filterSliders"
        data-default="0"
      /><br />
      <!-- added filter reset button to reset the filters to default positions -->
      <button type="submit" onclick="resetFilters()" id="filterResetButton">
        reset filters
      </button>
    </div>
  </div>
</div>
<br />
<br />
<br />
<div class="main">
  <script type="text/javascript">
    // This function applies the filter to the image by scanning the filter controls and applying the updated filter text string to the image.
    var image = document.getElementById("editPageImageRender");
    var filterControls = document.querySelectorAll("input.filterSliders");
    function applyFilter() {
      var computedFilters = "";
      filterControls.forEach(function (item, index) {
        computedFilters +=
          item.getAttribute("data-filter") +
          "(" +
          item.value +
          item.getAttribute("data-scale") +
          ") ";
      });
      console.log(computedFilters);
      image.style.filter = computedFilters;
      document.getElementById("id_imgfilter").value = computedFilters;
    }

    // This function resets the filters to their default values.
    // Added class 'filterSliders' to all filter sliders
    function resetFilters() {
      filterControls.forEach(function (item, index) {
        item.value = item.getAttribute("data-default");
      });
      applyFilter();
    }
  </script>

  {% endblock content %}
</div>
