{% extends 'main.html' %} {% load static %} {% block content %}
<div class="galleryPageAllBtns">
  <button type="button" class="galleryPageBrowseBtn">
    <a href="{% url 'landingpage' %}">BROWSE</a>
  </button>
  <button type="button" class="galleryPageAddArtifactBtn">
    <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
  </button>
  <br />
  <br />
  <!-- COMMENTED OUT PER INDUSTRY STANDARD TO BAKE HOME LINK INTO NAV/BRAND (NOT INTO AN ACTUAL BUTTON) -->
  <!-- <button type="button" class="galleryPageHomeBtn">
    <a href="{% url 'landingpage' %}" class="galleryPageHomeBtn">HOME</a>
  </button>
</div> -->
  <br />
  <br />

  <!-- Rows and columns for the gallery page that display uploaded images into a 3 column gallery -->
  <div class="container">
    <div class="row">
      {% for results in Artifact %}
      <div class="col-4">
        <h3>{{ results.imgtitle }}</h3>
        <img
          src="{{results.image.url}}"
          width="375"
          alt="{{results.imgtitle}}"
          class="img-thumbnail"
          style="filter:{{results.imgfilter}}"
        />
        <br />
        <b>{{ results.imgdesc }}</b>
        <br />
        <b class="createdAtClass"
          >created {{ results.created_at|date:"Y-m-d H:m" }}</b
        >
        <hr />
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </div>
</div>
