{% extends 'main.html' %} {% load static %} {% block content %}
<div class="galleryPageAllBtns">
  <!-- Browse feature wired to dynamically populate images by category -->
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle galleryPageBrowseBtn btn045 browseOnOurStory"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      BROWSE
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li>
        <a
          class="dropdown-item"
          href="{% url 'gallery-category' category='artistic' %}"
          >artistic</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="{% url 'gallery-category' category='beautiful' %}"
          >beautiful</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="{% url 'gallery-category' category='melancholy' %}"
          >melancholy</a
        >
      </li>
      <li>
        <a
          class="dropdown-item"
          href="{% url 'gallery-category' category='profound' %}"
          >profound</a
        >
      </li>
      <li>
        <a class="dropdown-item" href="{% url 'gallery' %}">main gallery</a>
      </li>
    </ul>
  </div>
  <button
    type="button"
    class="galleryPageAddArtifactBtn btn045 addArtifactOnOurStory"
  >
    <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
  </button>
  <br />
  <br />

  <br />
  <br />

  <!-- Rows and columns for the gallery page that display uploaded images into a 3 column gallery -->
  <div class="container">
    <div class="row">
      {% for results in Artifact %}
      <div class="col-4">
        <h3>{{ results.imgtitle }}</h3>
        <img
          src="{{results.image.url}}"
          width="375"
          alt="{{results.imgtitle}}"
          class="img-thumbnail"
          style="filter:{{results.imgfilter}}"
        />
        <br />
        <b>{{ results.imgdesc }}</b>
        <br />
        <b class="createdAtClass"
          >created {{ results.created_at|date:"Y-m-d H:m" }}</b
        >
        <hr />
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
  </div>
</div>
