<!-- Sets the stage for the inheritance experience -->
{% extends 'main.html' %} {% load static %} {% block content%}
<div id="bigViewDiv">
  <div id="landingPageAllContentButImgDiv">
    <button type="button" title="Our Story Button">
      <a href="{% url 'ourstory' %}">OUR STORY</a>
    </button>
    <br />
    <br />
    <button type="button">
      <a href="{% url 'gallery' %}">GALLERY</a>
    </button>
    <br />
    <br />
    <button type="button">
      <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
    </button>
    <br />
    <br />

    <form>
      <input
        type="text"
        id="symbolicRelease"
        name="symbolic_release"
        placeholder="symbolic release: unburdening from ..."
        title="SYMBOLIC RELEASE"
      />
      <input
        type="submit"
        id="symRelSubmitBtn"
        name="sym_rel_submit_btn"
        value="SUBMIT"
      />
    </form>

    <p class="artifactInfoLandingPg">
      <a href="/"></a><span class="landingPgArtifactUID">uid</span
      ></a><span class="landingPgArtifactDescr">Praesent sollicitudin sem</span>
    </p>
  </div>

  <div id="landingPageImgOnlyDiv">
    <!-- single row/col to contain dynamic randomized image on landing page pulled from images uploaded to gallery -->
    <img
      src="{{background.image.url}}"
      alt="Dummy Image"
      id="ImgOnLandingPage"
    />
  </div>
</div>

<div id="tinyViewDiv"><h1>GO BIGGER</h1><p>your device/screen size is insufficient</p></div>  

  {% endblock content %}
</div>
