<!-- shares insight into the vision behind the creation of Inheritance -->
{% extends 'main.html' %}

    {% block content %}
    <button type="button">
        <a href="{% url 'landingpage' %}">HOME</a>
    </button>
    <br/>
    <button type="button">
        <a href="{% url 'gallery' %}">GALLERY</a>
    </button>
    <br/>
    <button type="button"> 
        <a href="{% url 'addartifact' %}">ADD ARTIFACT</a>
    </button>
    <br/>
    <br/>

    <h1>OUR STORY</h1>
    <p>Here for those who feel compelled to answer: What one thing would you leave behind to benefit the world?</p>  
<br/>
<br/>
    <h2>VISION</h2>
        <p>Inheritance needs you to seriously consider the question - central to which is the question of humanity. Humanity is the story of mankind. It includes every man, woman, and child born since the first human couple. It includes those not born and still no less valued to someone, somewhere, for their reasons. Humanity is a chain of events - random and not, contributions by others - implicit and explicit, whether in truth or by perception unrelated to the naked eye, bringing together people born  apart. To connect in harmony, possibly for a lifetime. Humanity is the story of unpredictable efforts that can and at times do change the future, forever. Everyone makes a contribution to the story of humanity, our universe - inspiring us all for a moment or lifetime.</p>    
<br/>
<br/>
    <h2>CHALLENGE</h2>       
        <p>The question to consider is What one thing would you leave behind to benefit the world? And, your response should capture, reflect, speak to WHAT YOU ADD TO THE STORY.</p>
<br/>
<br/>
    <h2>JOIN</h2>        
        </p>Upload an image of your selection on the Inheritance <a href="{% url 'addartifact' %}" class="addArtifactLink">ADD ARTIFACT page</a>. Tell us why it’s important, describe it in the description. Join the vibrant Inheritance community of those gifting one thing they believe would benefit the world.</p>
    {% endblock content %}
    

