/* This css file is where our external styles are being pulled from */
body {
    background-color: #FAFAFA;
    margin-top: 44px;
    margin-left: 44px;
    margin-bottom: 44px;
}
button {
    width: 144px;
    border-radius: 67px;
    border-color: tomato;
    background-color: white;  
}
button > a {
    text-decoration: none;
    color: darksalmon;
}
button:hover > a {
    transform: scale(1.025);
    color: tomato;
}
label {
    display: none;
}
h3 {
    text-transform: lowercase;
    font-size: large;
    margin-left: 13px;
}
b {
    font-weight: lighter;
    text-transform: lowercase;
    margin-left: 13px;
}
#inheritanceTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    display: inline;
}
img#inheritanceLogo {
    width: 87px; 
    display: inline;
}

 /* NOT USING IN LIEU OF LOGO */
/* #inheritanceTagline {
    margin-top: -11px;
    font-family: cursive;
    font-style: italic;
    font-size: medium;
} */

#symbolicRelease {
    width: 50%;
    border-radius: 67px;
}
form > input#symbolicRelease:focus {
   outline: none;
}
form > input#symbolicRelease:focus {
    border: 1.15px dotted tomato;
}
form > input#symbolicRelease::placeholder {
    font-size: smaller;
}
#symRelSubmitBtn {
    border-radius: 67px;
    width: 144px;
}
#symRelSubmitBtn:hover {
   color: tomato;
   border-color: tomato;
}
#imgOnLandingPage {
    width: 100%;
    margin-top: 24px;
    margin-right: 44px;
    margin-bottom: 11px;
}
p#ourStoryIntroSentence {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: .25px .25px black;
    font-size: 167px;
    text-transform: uppercase;

    margin-top: -27px;
    margin-bottom: -59px;
}
.ourStorySubHeads {
    font-size: large;
    margin-bottom: -1px;
    color: darksalmon;
    text-shadow: .25px .25px black;
}
#ourStoryJoinHead {
    margin-bottom: -17px;
}
.ourStoryParagraphs {
    margin-right: 44px;
    text-align: justify;
}
#ourStoryAddArtifactPageLink {
    text-decoration: none;
    font-size: small;
    color: darksalmon;
    text-shadow: .25px .25px black;
}
#ourStoryAddArtifactPageLink:hover {
    color: tomato;
} 

/* DECIDED NOT TO INCLUDE LABELS IN LIEU OF PLACEHOLDER TEXT */
/* label {
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: bold;
} */

input#id_imgtitle, input#id_imgdesc {
    display: block;
    border-radius: 13px;
    margin-bottom: 9px;
    width: 50%;
}
input#id_image, input#file-upload-button {
    width: 25%;
    border-radius: 3px;
    background-color: #FAFAFA;
}
input#id_imgtitle::placeholder, input#id_imgdesc::placeholder, input#id_image::placeholder {
    font-size: smaller;
    text-align: center;
    padding-top: 7px;
}
input#id_imgtitle:focus, input#id_imgdesc:focus, input#id_image:focus, input#file-upload-button:focus {
    outline: none;
}
input#id_imgtitle:focus, input#id_imgdesc:focus, input#id_image:focus {
    border-color: tomato;
    border: 1.25px dotted darksalmon;
}
.uploadSuccessText {
    margin-top: 13px;
    margin-bottom: 13px;
}
#addArtifactFormSubmitBtn {
    display: block;
    font-weight: bold;

    border-radius: 107px;
    padding: 17px;
    width: 167px;
    margin-top: 23px;
}
#addArtifactFormSubmitBtn:hover {
    color: tomato;
    border-color: tomato;
}
