/* This css file is where our external styles are being pulled from */
body {
    background-color: #FAFAFA;
    background-image: url("/static/cleanse.jpg") no-repeat;
    background-size: cover;
    z-index: -1;
}
#landingPageAllContentButImgDiv {
    position: relative; 
    z-index: 3;
}
#landingPageImgOnlyDiv {
    position: absolute; 
    z-index: -1;  
}
#dummyImgOnLandingPage {
   margin-top: -687px; 
}
.landingPgArtifactDescr {
    width: 25%;
    color: wheat;
    font-size: smaller;
    text-transform: lowercase;
    text-shadow: .5px .5px black;
    text-align: justify;

    position: absolute;
    right: 37px;
    bottom: -325px;
}
#titleLogoDiv,
h1#inheritanceTitle,
img#inheritanceTitle {
    display: inline;
}
button,
#inheritanceTitle,
#symbolicRelease,
p#ourStoryIntroSentence,
.ourStorySubHeads,
.ourStoryParagraphs,
p#conceptParagraph  {
    margin-left: 44px;
    margin-right: 44px;
    z-index: 1;
}
h1#inheritanceTitle {
    color: wheat;
    text-shadow: 1.5px 1.5px black;
}
.ourStoryParagraphs {
    text-align: justify;
}
#emptyDivOnTopOfTitleLogo {
    margin-bottom: 44px;
}
#inheritanceTitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-bottom: 22px;
    text-shadow: .77px .77px wheat;
}
img#inheritanceLogo {
    width: 57px; 
    margin-left: -37px;
    margin-top: 11px;
    margin-bottom: 22px;
    filter: drop-shadow(1px 1px wheat)
}

 /* NOT USING IN LIEU OF LOGO */
/* #inheritanceTagline {
    margin-top: -11px;
    font-family: cursive;
    font-style: italic;
    font-size: medium;
} */

button {
    width: 144px;
    border-radius: 67px;
    border-color: tomato;
    background-color: white; 
    margin-bottom: -22px; 
}
button > a {
    text-decoration: none;
    color: darksalmon;
}
button:hover > a {
    color: tomato;
}
.galleryPageHomeBtn {
    margin-bottom: 22px;
}
.editPgHomeBtn {
    margin-bottom: -44px;
    margin-top: -500px;
}
.editPgGalleryBtn {
    margin-bottom: 47px;
}
.editPgFilterBtnsDiv {
    margin-left: 44px;
}
button.btn.btn-primary {
    font-size: x-small;
    color: tomato;
    text-shadow: .25px .25px black;
    background-color: crimson;
    border: 1px solid tomato;
    box-shadow: .25px .25px .25px .25px black;

    padding: 3px;
    width: 67px;
    display: inline-block;
    margin-left: 1.5px;
    margin-right: 1.5px;
}
button.btn.btn-primary:hover {
    transform: scale(1.15);
    background-color: darksalmon;
}
label {
    display: none;
}
h3 {
    text-transform: lowercase;
    font-size: large;
    margin-left: 13px;
}
b {
    font-weight: lighter;
    text-transform: lowercase;
    margin-left: 13px;
}
#symbolicRelease {
    width: 50%;
    border-radius: 67px;
}
form > input#symbolicRelease:focus {
   outline: none;
}
form > input#symbolicRelease:focus {
    border: 1.15px dotted tomato;
    background-color: whitesmoke;
}
form > input#symbolicRelease::placeholder {
    font-size: smaller;
}
#symRelSubmitBtn {
    border-radius: 67px;
    width: 144px;
}
#symRelSubmitBtn:hover {
   color: tomato;
   border-color: tomato;
}
#imgOnLandingPage {
    width: 100%;
    margin-top: 24px;
    margin-right: 44px;
    margin-bottom: 11px;
}
p#ourStoryIntroSentence {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: .25px .25px black;
    font-size: 167px;
    text-transform: uppercase;

    margin-top: -27px;
    margin-bottom: -59px;
}
.ourStorySubHeads {
    font-size: large;
    margin-bottom: -1px;
    color: darksalmon;
    text-shadow: .25px .25px black;
}
#ourStoryJoinHead {
    margin-bottom: -17px;
}
.ourStoryParagraphs {
    margin-right: 44px;
    text-align: justify;
}
#ourStoryAddArtifactPageLink {
    text-decoration: none;
    font-size: small;
    color: darksalmon;
    text-shadow: .25px .25px black;
}
#ourStoryAddArtifactPageLink:hover,
button:hover {
    color: tomato;
} 

/* DECIDED NOT TO INCLUDE LABELS IN LIEU OF PLACEHOLDER TEXT */
/* label {
    font-variant: small-caps;
    text-transform: lowercase;
    font-weight: bold;
} */

input#id_imgtitle, input#id_imgdesc {
    display: block;
    border-radius: 13px;
    margin-bottom: 9px;
    width: 50%;
}
input#id_image, input#file-upload-button {
    width: 25%;
    border-radius: 3px;
    background-color: #FAFAFA;
}

/* PLAN TO GET PLACEHOLDERS WORKING AGAIN */
/* input#id_imgtitle::placeholder, input#id_imgdesc::placeholder, input#id_image::placeholder {
    font-size: smaller;
    text-align: center;
    padding-top: 7px;
} */

input#id_imgtitle:focus, input#id_imgdesc:focus, input#id_image:focus, input#file-upload-button:focus {
    outline: none;
}
input#id_imgtitle,
input#id_imgdesc,
input#id_image,
input#file-upload-button {
  margin: 0 auto;
}
input#id_imgtitle:focus, input#id_imgdesc:focus, input#id_image:focus {
    border-color: tomato;
    border: 1.25px dotted darksalmon;
}
.uploadSuccessText {
    margin-top: 13px;
    margin-bottom: 13px;
}
.createdAtClass {
    font-size: xx-small;
    color: darkturquoise;
    text-shadow: .25px .25px black;
}

/* UNSURE IF WILL READD ADD ARTIFACT BTN */
/* #addArtifactFormSubmitBtn {
    display: block;
    font-weight: bold;

    border-radius: 107px;
    padding: 17px;
    width: 167px;
    margin-top: 23px;
}
#addArtifactFormSubmitBtn:hover {
    color: tomato;
    border-color: tomato;
} */
